Package: CustomFolderIcons
Depends: firmware (>= 11.0), mobilesubstrate
Conflicts: pl.vertex.foldericons, com.xtm3x.noblur, com.lizynz.fullfolderx, com.lizynz.fullfolder11
Version: 1.0
Architecture: iphoneos-arm
Description: A simple no-frills custom icon and background tweak.
Maintainer: magn2o
Author: magn2o
Section: Tweaks
